# postgresql
DB_DSN=postgresql://postgres:postgres@127.0.0.1:5432/ice_wear_store?ssl_mode=disable

# qdrant
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=secret_api_key

# AI clients
OPENAI_APIKEY=sk-proj-abcdefghijklmnopqrstuvwxyz
GEMINI_API_KEY=abcdefghijklmnopqrstuvwxyz

# Application
FROST_AI_PORT=8001
MAIN_SERVER_PORT=8000
VITE_API_BASE_URL=http://localhost:8000 # It must be main server's address
